<div class="wrapper" id="topheader">
  <div class="sidebar" data-color="purple" data-background-color="black" data-image="../sidebar-2.jpg">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Big Data
      </a></div>
    <div class="sidebar-wrapper" ng-controller="HeaderController">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="" class="nav-link active">
            <i class="material-icons" >dashboard</i>
            <p>Dasbor</p>
          </a>
        </li>
        <li >
          <a routerLink="checkemotion" class="nav-link active" >
            <i class="material-icons">person</i>
            <p>Cek Emosi</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
        </div>
      </div>
    </nav>
    <!-- End Navbar -->


    <!-- Main -->
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End Main -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/presentation">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right" id="date">
          Made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a Better Web.
        </div>
      </div>
    </footer>
    <script>
      const x = new Date().getFullYear();
      let date = document.getElementById('date');
      date.innerHTML = '&copy; ' + x + date.innerHTML;
    </script>
  </div>
</div>
<!-- End Footer -->